{
    "arrowParens": "avoid",
	"bracketSpacing": false,
	"endOfLine": "lf",
	"jsxBracketSameLine": true,
	"jsxSingleQuote": true,
	"parser": "typescript",
	"printWidth": 140,
	"proseWrap": "preserve",
	"semi": true,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "all"
}
